.maindiv{
 width:99%;
 height:99vh;
 border:2px solid blue;
 display: flex;
 justify-content: center;
 align-items: center;
}
.mainfirst{
  width:45%;
  height:95%;
  border: 2px solid red;;
}
.mainsec{
  width:45%;
  height:95%;
  border:2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner2{
  position: relative;
}
.inner1{
  border:2px solid black;
}
.formclass{
  border:2px solid yellow;
  
}
.output{
  font-size: large;
  color:black;
  font-weight:700;
}

